@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 263 72% 52%;

    --primary-foreground: 0 0% 99%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 263 74% 35%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;

    --transfer-form: 260 8% 85%;
    --transfer-form-selection: 0 0% 95%;
    .dashboard-nav-card {
      display: flex;
      border-radius: calc(var(--radius) - 2px);
      width: 100%;
      height: 180px;
      max-width: 370px;
      cursor: pointer;
      background: #7426f0;
      background: linear-gradient(
        2deg,
        rgba(74, 23, 155, 1) 10%,
        rgba(65, 50, 158, 1) 85%,
        rgba(63, 55, 158, 1) 99%
      );
    }
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --transfer-form: 240 3.7% 15.9%;
    --transfer-form-selection: 240 5.9% 10%;
    .dashboard-nav-card {
      display: flex;
      border-radius: calc(var(--radius) - 2px);
      width: 100%;
      height: 180px;
      max-width: 370px;
      cursor: pointer;
      background: #302f31;
      background: linear-gradient(
        2deg,
        #302f31 10%,
        rgb(49, 47, 59) 85%,
        rgb(27, 25, 50) 99%
      );
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 840px) {
  .transfer-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    --tw-space-y-reverse: 0;
  }
}

@media (max-width: 840px) {
  .transfer-item-2 {
    margin-top: 45px;
  }
}

@media (min-width: 1024px) {
  .navbar-text {
    display: block;
  }
}

.main-bg {
  background: linear-gradient(-45deg, #520cc5, #7e4ecc, #6429c4);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}

.main-secondary-bg {
  background: rgb(182, 0, 211);
  background: linear-gradient(
    2deg,
    rgba(182, 0, 211, 1) 0%,
    rgba(193, 0, 128, 1) 100%
  );
}

.main-footer-bg {
  background: rgb(55, 7, 134);
  background: linear-gradient(
    2deg,
    rgba(55, 7, 134, 1) 0%,
    rgba(91, 34, 185, 1) 100%
  );
}
.main-orb {
  background: rgb(252, 70, 107);
  background: radial-gradient(
    circle,
    rgba(252, 70, 107, 1) 0%,
    rgba(252, 70, 107, 0) 51%
  );
  animation: orbGradient 7s alternate infinite;
}

@keyframes orbGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    filter: saturate(80%);
    background-position: 100% 50%;
  }
}
.drop-shadow-text {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}
.fade-out {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-out.fade {
  opacity: 0;
}

.dashboard-nav-card-text {
  min-width: 155px;
  color: #ffff;
  text-align: left;
  font-size: 33px;
  line-height: 2.45rem;
  letter-spacing: -0.13rem;
  font-weight: 500;
  cursor: pointer;
}
